{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<Link rel='stylesheet' type='text/css' href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}

<h2>Profile Details</h2>
<p>{{ users.username }}</p>
<p>{{ users.first_name }}</p>
<p>{{ users.last_name }}</p>
<p>{{ users.email }}</p>
<br>
<h2>User Stories</h2>
<div>
    <a href="{% url 'news:newsStory' %}">Add New Story</a>
    <p></p>
    
</div>
<div id="all-stories">
    {% for story in user.stories.all %} 
        {% include "news/storyCard.html" with story=story position=forloop.counter %}
        <p></p>
    {% endfor %}
</div>

{% endblock %}