{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<Link rel='stylesheet' type='text/css' href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}

<div id="story-wrapper">
    <h2>{{ story.title }}</h2>
    <h4><a href="{% url 'users:authorview' story.author.pk %}">{{ story.author }}</a></h4>
    <div id="story-content">
        {% if not story.image %} 
            <img src="https://picsum.photos/600">
        {% else %}
            <img src="{{ story.image }}">
        {% endif %}
        {{ story.content|linebreaks }}
    </div>
    {% if user.is_authenticated and story.author == user %}
        <a href="{% url 'news:storyUpdate' story.id %}">Update Story</a> 
        <a href="{% url 'news:storyDelete' story.id %}">Delete Story</a> 
    {% else %}
        <p></p>
    {% endif %}
</div>
{% endblock %}