{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<Link rel='stylesheet' type='text/css' href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}

<div id="story-wrapper">
    <h2>{{ story.title }}</h2>
    <h4><a href="{% url 'users:authorview' story.author.pk %}">{{ story.author }}</a></h4>
    <div id="story-content">
        <img src="{% static '/news/images/placeholder-5.jpg' %}">
        {{ story.content|linebreaks }}
    </div>
    <a href="{% url 'news:StoryUpdate' story.id %}">Update Story</a>
    <!-- <a href="{% url 'news:storyDelete' story.id %}">Delete Story</a> -->
</div>

{% endblock %}